{% extends "layout.html" %}
{% block title %}edms home{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
<div class = "container">
    <div class="row">
      {% for document in data %}
        <div class="col-sm-6 col-md-4">


            <div class="thumbnail form-check">
                <a href={{url_for('documents.document_index', docid=document.id)}}><img src="{{'static/thumbnails/' + document.thumbnail_filename}}" class="img-thumbnail"></a>
              <div class="caption">
                  <p>{% if document.status == "NEW" %} <span class="badge badge-primary">New</span>{% endif %}  {{document.title}}</p>
                  <p>{{document.description}}</p>
                  <p><ul>{% for tag in document.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}</ul></p>
              </div>
            </div>

      </div>
      {% endfor %}

    </div>
</div>
{% endblock %}
