{% extends "layout.html" %}
{% block title %}EDMS{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
<div class = "container">
    <div class="row">
      {% for document in data %}
        <div class="col-sm-6 col-md-4">


            <div class="thumbnail">
                <a href={{url_for('documents.document_index', id=document.id)}}><img src="{{'static/thumbnails/' + document.thumbnail_filename}}" class="img-thumbnail"></a>
              <div class="caption">
                <h5>{{document.title}}</h5>
                <h5><p>{{document.description}}</p></h5>
              </div>
            </div>

      </div>
      {% endfor %}

    </div>
</div>

{% endblock %}