{% extends "layout.html" %}
{% block title %}EDMS{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav my-lg-0">
            <li class="nav-item">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Add Tags" id="tag" aria-label="Add Tags">
                    <button class="btn btn-outline-success my-2 my-sm-0" id="btnAddTag" type="submit">Add Tag</button>
                </form>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-danger my-2 my-sm-0" id="btnFinish" type="button">Finish</button>
            </li>
        </ul>
    </nav>
</div>

<div class="container">
    <div class="row">
      {% for document in data %}
        <div class="col-sm-6 col-md-4">


            <div class="thumbnail">
                <input type="checkbox" value="" id="{{ document.id }}" name="{{ document.id }}" />
                <a href={{url_for('documents.document_index', docid=document.id)}}><img src="{{'static/thumbnails/' + document.thumbnail_filename}}" class="img-thumbnail"></a>
              <div class="caption">
                  <p>{{document.title}}</p>
                  <p>{{document.description}}</p>
                  <p><ul>{% for tag in data.tags %}
                        <li>{{ tag }}</li>
                    {% endfor %}</ul></p>
              </div>
            </div>

      </div>
      {% endfor %}

    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {

    $("#btnAddTag").on("click", function(e) {

        e.preventDefault();

        var sList = [];
        sList = findSelected();

        sList = JSON.stringify(sList);

        alert(sList);

        $.ajax({
           method: "POST",
           url: "{{url_for('api.bulk_add_tag')}}",
           data: {
            doc_ids : sList,
            tag: $("#tag").val()
           },
           dataType: "json",
           success: function(response) {
                location.reload();
           }

        });
    });



    $("#btnFinish").on("click", function(){

        var ls = [];

        ls = findSelected();

        ls = JSON.stringify(ls);

        $.confirm({
            title: 'Done?',
            content: 'Ready to complete?',
            buttons: {
                confirm: function () {

                    $.ajax({
                        method: "POST",
                        url: "{{url_for('api.finish_documents')}}",
                       data: {
                            doc_ids : ls,
                       },
                       dataType: "json",
                       success: function(response) {
                            window.location.reload(true);
                       }

                    });
                },
                cancel: function () {

                },


            }
        });



    });



});


function findSelected() {
    var sList = [];

    $('input:checkbox:checked').each(function () {
            sList.push( $(this).attr("name") );
    });

    return sList;
}

</script>
{% endblock %}